.gitattributes text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf
DATA_LICENSE text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.md text eol=lf
*.py text eol=lf
*.tex text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.cff text eol=lf
requirements.txt text eol=lf
Makefile text eol=lf
*.pdf binary
